.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  padding: 40px 0 25px 0;
  width: 60%;
}

.dog-photos {
  display: flex;
  flex-wrap: wrap;
}

.dog-photo {
  max-height: 200px;
}

ul {
  list-style: none;
}

span {
  font-weight: 700;
}

.friend-emoji {
  display: flex;
  flex-wrap: wrap;
  max-width: 15%;
}

.container.friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4e0928;
}

.loading {
  position: absolute;
  top: 0;
  margin: 0 auto;
}

.container.dog .loading {
  left: 50%;
}

.container.dog .btn {
  background-color: #276474;
  color: white;
}

.container.dog {
  color: #276474;
}

.joke-lines {
  font-size: 2rem;
  font-weight: 600;
  line-height: 3px;
}

.container.joke {
  color: #e49618;
}

.container:nth-child(odd) {
  background: rgb(233, 233, 233);
}

.container:nth-child(even) {
  background: rgb(243, 243, 243);
}

.btn {
  padding: 20px 40px 20px 40px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
}

.container.friends .btn {
  background-color: #4e0928;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
