.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hobbies {
  border-bottom: 1px solid #eee;
}

.customer-service {
  width: 95vw;
  margin-top: 75px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.customer-service .el {
  padding: 0 40px 0 40px;
  width: 25%;
}

.customer-service .el p {
  font-size: 1.5rem;
}

.customer-service .el img {
  width: 130px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
